@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a Biblioteca do Aprendizado</h1>
    <p>Utilize os botões do header para encontrar as informações.</p>
</div>

<div class="about">
    <p style="text-align: center; font-size: 20px">Projeto Full-Stack desenvolvido durante a semana de Entity Framework ministrada pelo professor Júlio Machado.</p>
    <p>Tecnologias utilizadas:</p>
        <li>C#</li>
        <li>ASP.NET</li>
        <li>Razor Pages</li>
        <li>Swagger UI</li>
        <li>SQL Server</li>
        <li>Html/CSS</li>
</div>
