@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Bem-vindo a Biblioteca do Aprendizado</h1>
    <h5>Utilize os botões do header para ser redirecionado aos dados.</h5>
</div>

<div class="d-flex justify-content-center">
    <div class="card shadow-sm" style="max-width: 40rem; margin-top: 2rem;">
        <div class="card-body text-center">
            
            <h4 class="card-title">Sobre o Projeto</h4>
            <p class="card-text">
                Projeto Full-Stack desenvolvido durante a semana de Entity Framework ministrada pelo professor Júlio Machado.
            </p>
            <hr>
            <h5 class="mt-4">Tecnologias Utilizadas:</h5>
            <div class="tech-pills mt-3">
                <span class="badge bg-primary">C#</span>
                <span class="badge bg-primary">.NET</span>
                <span class="badge bg-success">Razor Pages</span>
                <span class="badge bg-success">Swagger UI</span>
                <span class="badge bg-danger">Entity Framework</span>
                <span class="badge bg-warning text-dark">SQL Server</span>
                <span class="badge bg-warning text-dark">HTML/CSS</span>
            </div>
        </div>
    </div>
</div>